/* Add these styles to your existing CSS */
.exercise-dropdown {
    position: relative;
    display: inline-block;
}

.selected-exercise {
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.exercise-list {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
}

.exercise-list li {
    padding: 8px;
    cursor: pointer;
}

.exercise-list li:hover {
    background-color: #f1f1f1;
}

.exercise-dropdown.open .exercise-list {
    display: block;
}

input[type="number"] {
    border: 1px solid #f8f9fa; /* Add your preferred border color */
    border-radius: 5px; /* Adjust the border-radius as needed for rounded corners */
    padding: 8px; /* Add padding for a better appearance */
    background-color: #333; /* Set the background color to match the whole page */
    color: #f8f9fa; /* Set the text color */
    /* Add any other styles as needed */
}

#exercise-select {
    background-color: #555; /* Set the background color to grey or your preferred color */
    border: 1px solid #555; /* Add your preferred border color */
    border-radius: 5px; /* Adjust the border-radius as needed for rounded corners */
    padding: 8px; /* Add padding for a better appearance */
    color: #dcdcdc; /* Set the text color */
    /* Add any other styles as needed */
}
