
body {
    background-color: #222;
    color: #fff;
}

#menu {
    background-color: #333;
    padding: 10px;
}

#menu a {
    color: #fff;
    margin-right: 15px;
    text-decoration: none;
    background-color: #333; 
    padding: 5px 10px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}

#menu a:hover {
    background-color: #555 !important; 
    text-decoration: none;
}

.container {
    margin-top: 20px;
}

.btn {
    color: #fff;
}

.navbar-dark {
    background-color: #333;
}

.card {
    background-color: #333;
    color: #fff;
}

.card a {
    color: #fff;
}

.card a:hover {
    text-decoration: underline;
}
