<!-- templates/running_workout.html -->
{% extends 'base_generic.html' %} {% load static %} {% block title %}Running
Workout{% endblock %} {% block head %}
<link rel="stylesheet" href="{% static 'css/running_workout.css' %}" />
{% endblock %} {% block content %}

<form method="post" id="workout-form">
  {% csrf_token %}

  <h1 class="mb-5 mt-5">{{ form.name }}</h1>

  <select id="exercise-select" name="exercise">
    <option value="" disabled selected>Select an exercise</option>
  </select>

  <button type="button" id="add-exercise" class="btn btn-primary">
    Add Exercise
  </button>

  <div id="exercise-list-placeholder"></div>

  <input
    type="hidden"
    name="selected_exercises"
    id="selected-exercises"
    value=""
  />
  <input type="hidden" name="set_details" id="set-details" value="" />

  <button type="submit" class="btn btn-success mt-4">Finish Workout</button>
  <button type="button" id="cancel-workout" class="btn btn-secondary mt-4">
    Cancel Workout
  </button>
</form>
{% endblock %} {% block scripts %}
<script>
  function fetchExercises() {
    fetch('{% url "exercise_list_json" %}')
      .then((response) => response.json())
      .then((data) => {
        const selectElement = document.getElementById("exercise-select");
        selectElement.innerHTML =
          '<option value="" disabled selected>Select an exercise</option>' +
          data
            .map(
              (exercise) =>
                `<option value="${exercise.id}">${exercise.name}</option>`
            )
            .join("");
      })
      .catch((error) => console.error("Error fetching exercises:", error));
  }

  function addSelectedExercise() {
    const selectElement = document.getElementById("exercise-select");
    const selectedExerciseIndex = selectElement.selectedIndex;

    if (selectedExerciseIndex !== -1) {
      const selectedOption = selectElement.options[selectedExerciseIndex];
      const exerciseId = selectedOption.value;
      const exerciseName = selectedOption.textContent;

      const exerciseListPlaceholder = document.getElementById(
        "exercise-list-placeholder"
      );
      const newExerciseElement = document.createElement("div");
      newExerciseElement.setAttribute("data-exercise-id", exerciseId);
      newExerciseElement.innerHTML = `
                <h4 class="mt-4 mb-3">${exerciseName}</h4>
                <div class="set-row">
                    <label>Reps: <input type="number" name="reps_${exerciseId}_1" required></label>
                    <label>Weight (kg): <input type="number" name="weight_${exerciseId}_1" step="0.5" required></label>
                    <button type="button" class="add-set-button btn btn-primary" data-exercise-id="${exerciseId}">Add Set</button>
                </div>
            `;
      exerciseListPlaceholder.appendChild(newExerciseElement);

      const selectedExercisesInput =
        document.getElementById("selected-exercises");
      selectedExercisesInput.value += exerciseId + ",";

      const addSetButton = newExerciseElement.querySelector(".add-set-button");
      addSetButton.addEventListener("click", addSetToExercise);

      updateSelectedExercisesInput();
    }
  }

  function addSetToExercise() {
    const exerciseId = this.getAttribute("data-exercise-id");
    const exerciseDiv = document.querySelector(
      `[data-exercise-id="${exerciseId}"]`
    );
    const setRowCount = exerciseDiv.querySelectorAll(".set-row").length + 1;

    const newSetRow = document.createElement("div");
    newSetRow.classList.add("set-row");
    newSetRow.innerHTML = `
            <label>Reps: <input type="number" name="reps_${exerciseId}_${setRowCount}" required></label>
            <label>Weight (kg): <input type="number" name="weight_${exerciseId}_${setRowCount}" step="0.5" required></label>
        `;
    exerciseDiv.appendChild(newSetRow);
  }

  document
    .getElementById("add-exercise")
    .addEventListener("click", addSelectedExercise);

  document
    .getElementById("workout-form")
    .addEventListener("submit", function () {
      if (document.getElementById("selected-exercises").value === "") {
        alert("Please add at least one exercise to the workout.");
        event.preventDefault();
      }

      const setDetails = [];
      document
        .querySelectorAll('[id^="exercise-list-placeholder"] .set-row')
        .forEach((setRow) => {
          const exerciseId = setRow
            .closest("[data-exercise-id]")
            .getAttribute("data-exercise-id");
          const reps = setRow.querySelector(
            `input[name^="reps_${exerciseId}"]`
          ).value;
          const weight = setRow.querySelector(
            `input[name^="weight_${exerciseId}"]`
          ).value;
          setDetails.push({ exerciseId, reps, weight });
        });
      document.getElementById("set-details").value = JSON.stringify(setDetails);
    });

  fetchExercises();
</script>
<script src="{% static 'js/cancel_workout.js' %}"></script>
{% endblock %}
