<!-- templates/exercise_detail.html -->
{% extends 'base_generic.html' %}
{% load static %}

{% block title %}{{ exercise.name }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/exercise_detail.css' %}">
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="mt-4 mb-5">{{ exercise.name }}</h1>
        <a href="{% url 'exercise_list' %}" class="btn btn-primary">Back to Exercise List</a>
    </div>

    <p>{{ exercise.description }}</p>
    <h5 class="mt-5 mb-4">Category: <strong>{{ exercise.category }}</strong></h5>
    <h5>Bodypart: <strong>{{ exercise.bodypart }}</strong></h5>
{% endblock %}
