<!-- templates/exercise_list.html -->
{% extends 'base_generic.html' %}
{% load static %}

{% block title %}Exercise List{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/exercise_list.css' %}">
{% endblock %}

{% block content %}
    <h1 class="mt-4 mb-4">Exercise List</h1>

    <div class="row">
        {% for exercise in exercises %}
            <div class="col-md-3 mb-4">
                <a href="{% url 'exercise_detail' pk=exercise.pk %}" class="card-link">
                    <div class="card exercise-card">
                        <div class="card-body">
                            <h5 class="card-title">{{ exercise.name }}</h5>
                            <p class="card-text">{{ exercise.category }}</p>
                            <p class="card-text">{{ exercise.bodypart }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
