<!-- templates/workout_detail.html -->
{% extends 'base_generic.html' %}
{% load static %}

{% block title %}{{ workout.name }}{% endblock %}
{% block head %}
    <!-- Add any additional head content as needed -->
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="mt-4 mb-4">{{ workout.name }}</h1>
        <a href="{% url 'workout_list' %}" class="btn btn-primary">Back to Workout List</a>
    </div>

    <p>Date Created: {{ workout.date_created | date:'F d, Y' }}</p>
    <!-- Add more details as needed -->
{% endblock %}
